@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">Netcode-Hub Packages</div>
                            <div class="card-body">
                                @Body
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </main>
</div>
